<footer class="footer">
    <span class="footer__copyright">
        &copy;2014-{{date format="YYYY"}}  All rights reserved.
    </span>
    <span class="footer__copyright">
        <a target="_self" href="http://www.huar.love/blog/">西水月</a>
        theme by
        <a href="https://github.com/onevcat/vno">@onevcat</a>
    </span>
</footer>
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad();
</script>
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1260920122'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1260920122%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
