<!-- 右側菜單導航 -->
<!-- 2016-11-06 16:58:47 花夏 -->
<link rel="stylesheet" type="text/css" href="/assets/lib/menu/css/component.css">
<link rel="stylesheet" type="text/css" href="/assets/lib/menu/css/default.css">
<link rel="stylesheet" type="text/css" href="/assets/css/menu.css">
<section class="right-menu">
    <div id="shade-box" class="shade-box"></div>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s2">
        <h3>菜單</h3>
        {{! Tag Cloud }}
        {{#get "tags" limit="all" include="count.posts" order="count.posts desc" }}
            {{#foreach tags}}
                <a href="/tag/{{slug}}" class="tag-item">{{name}} ({{count.posts}})</a>
            {{/foreach}}
        {{/get}}
        <button id="showRightPush"></button>
    </nav>
</section>
<script type="text/javascript" src="/assets/lib/menu/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/assets/lib/menu/js/classie.js"></script>
<script>
var showRightPush = document.getElementById('showRightPush');
var body = document.body;
var menuRight = document.getElementById('cbp-spmenu-s2');
var shadeBox = document.getElementById('shade-box');
shadeBox.onclick = showRightPush.onclick = function() {
    classie.toggle(this, 'active');
    classie.toggle(body, 'cbp-spmenu-push-toleft');
    classie.toggle(menuRight, 'cbp-spmenu-open');
    classie.toggle(showRightPush, 'showleft');
    classie.toggle(shadeBox,'shade-box-show')
};
</script>